@model IEnumerable<TransactionRecordManagement.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Customer List</h2>

<p>
    <a asp-action="Create">Add New Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.AccountId  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.AccountId }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.AccountId  })
                </td>
            </tr>
        }
    </tbody>
</table>
